#home{
	min-height: 80vh;

}
#nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: block;
}
#h{
	display: inline;
}
#butt{
	height: 42px;
	width: 125px;
}
#input{
	
	height: 100px;
}
#coll{
	height: 30vh;
}
#twit{
   /*	margin-left: 100px;*/
   height: 250px;
}
#real{
	display: inline;
}
#abtm:hover{
	display: inline-block;
	transform: rotate(20deg);
}
#img1{
	
	clip-path: ellipse();
}
#img1:hover{
	display: inline-block;
	transform: skew(5deg, 5deg);
	transform: perspective(400px) rotate3d(5,5,5,0deg);
}
